node_modules/
.env
.env.local
.env.*.local
dist/
build/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode/
.idea/
.qodo/
.tmp.drivedownload
.env.local
dist
.env.production.local
server-package.json
*.md~
.firebase/
.firebaserc
